/* responsive ******************************************************************************/

/* responsive ******************************************************************************/

@media (max-width: 432px) {
    .ball {
        width: 50%;
    }
    .main {
        padding-top: 20px;
        height: 93vh;
    }
}

/* responsive ******************************************************************************/

@media (max-width: 414px) {
    .main {
        gap: 5px;
    }
    .logo {
        padding-top: 10px;
    }
    /* .btn-box a {
        position: static;
    } */
    .main-text h1 {
        font-size: 40px;
    }
    .main-text h5 {
        font-size: 16px;
    }
    .main-text h3 {
        font-size: 30px;
    }
    .date p {
        font-size: 18px;
    }
    .date h2 {
        font-size: 35px;
    }
    .boxes {
        padding-bottom: 5px;
    }
    .boxes .box {
        gap: 0px;
        margin-bottom: 8px;
    }
    .btn-box a {
        font-size: 24px;
    }
}

/* responsive ******************************************************************************/

@media (max-width: 375px) {
    .logo {
        max-width: 100px;
    }
    .main {
        gap: 5px;
    }
    .main-text p {
        font-size: 16px;
    }
    .main-text h1 {
        font-size: 34px;
    }
    .target img {
        max-width: 60%;
    }
    .bonus h2 {
        font-size: 24px;
    }
    p {
        font-size: 15px;
    }
    .btn-box a img {
        max-width: 35px;
    }
}

@media screen and ( max-width: 375px) and ( max-height:667px) {
    .main {
        gap: 5px;
        padding-top: 15px;
    }
    .target {
        bottom: -10px;
    }
}

/* responsive ******************************************************************************/

@media (max-width: 320px) {
    .main-text h5 {
        font-size: 12px;
    }
    .main-text p {
        font-size: 11px;
    }
    .main-text h1 {
        font-size: 30px;
    }
    .main-text h3 {
        font-size: 22px;
    }
    .date p {
        font-size: 16px;
    }
    .date h2 {
        font-size: 25px;
    }
    .boxes .text p {
        font-size: 13px;
    }
    .btn-box a {
        padding: 5px 0;
    }
    .main {
        gap: 0px;
    }
    .logo {
        padding-top: 50px;
    }
    .bonus h2 {
        font-size: 20px;
    }
}
